# environment variables
.env
.env.example

# virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# Django
db.sqlite3
*.log
/staticfiles/
/media/

# IDEs
.vscode/
.idea/

# firebase
ams-proj/credentials/firebase-service-account.json